@import "../../static/scss/base.scss";

.vetical-link_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.7rem;
  padding: 3.75rem 1rem 2rem;
  position: relative;
  text-decoration: none;

  &:hover {
    filter: none;
    &::before,
    &::after {
      opacity: 1;
    }
    .bg-gradient {
      opacity: 1;
    }
    .title {
      color: #ffffff;
      background: none;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2.9rem;
    background: linear-gradient(180deg, #8670c2 0%, #994baf 100%);
    position: absolute;
    left: 0;
    bottom: -3.9rem;
    opacity: 0;
    @include transitionEffect;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1rem;
    background-color: #74287a;
    position: absolute;
    left: 0;
    bottom: -5.9rem;
    opacity: 0;
    @include transitionEffect;
  }

  .bg-gradient {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #3d4680 0%, #8470c1 100%);
    opacity: 0;
    @include transitionEffect;
  }
  .title {
    position: relative;
    background: -webkit-linear-gradient(45deg, #8d6399, #9ebccf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Industry-Bold;
    font-size: 1.6rem;
    letter-spacing: -0.11rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-orientation: upright;
    writing-mode: vertical-rl;
    letter-spacing: 1rem;
  }
}
