@font-face {
  font-family: "Digitalix";
  src: url("../fonts/digitalix.ttf");
}

@font-face {
  font-family: "Digital-7 Italic";
  src: url("../fonts/digital-7-Italic.ttf");
}

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/digital-7.ttf");
}

@font-face {
  font-family: "Industry-Bold";
  src: url("../fonts/Industry-Bold.ttf");
}

@font-face {
  font-family: "Industry-Book";
  font-weight: 900;
  src: url("../fonts/Industry-Book.ttf");
}

@font-face {
  font-family: "Industry-Light";
  font-weight: 900;
  src: url("../fonts/Industry-Light.ttf");
}
