// screen sizes
$bp-desktop-lg: 1920px;
$bp-desktop-sm: 1440px;
$bp-tablet-lg: 1280px;
$bp-tablet-sm: 1024px;
$bp-mobile-lg: 768px;
$bp-mobile-md: 480px;
$bp-mobile-sm: 370px;
$bp-mobile-xs: 320px;

// colors
$black: #000000;
$white: #ffffff;
$yellow: #fac75a;
$gray: #c3c3c3;
